{
  "registry": {
    "name": "{{ service_group }}/{{ kafka_cluster_identifier }}-kafka/{{ kafka_cluster_identifier }}-schema",
    "zookeeper_namespace": "schema-registry",
    "listener_protocol": "https",
    "keystore_secret": "{{ service_group }}/{{ kafka_cluster_identifier }}-kafka/__dcos_base64__mykeystore",
    "virtual_network_enabled": {{ virtual_network_enabled|lower }},
    "virtual_network_name": "{{ virtual_network_name }}",
    "ssl_client_auth": {{ ssl_client_auth|lower }},
    "instances": 1,
    "cpus": 1,
    "mem": 512,
    "heap": 256,
    "role": "*"
  },
  "kafka": {
    "zookeeper_connect": "{{ zk_endpoints.stdout }}",
    "client_security_protocol": "SSL"
  }
}