{
    "service": {
        "name": "{{ service_group }}/{{ kafka_cluster_identifier }}-kafka/{{ kafka_cluster_identifier }}-{{ package }}",
        "service_account": "{{ kafka_cluster_identifier }}-{{ package }}",
        "service_account_secret": "{{ service_group }}/{{ kafka_cluster_identifier }}-kafka/{{ package }}-private-key",
        "security": {
            "kerberos": {
                "debug": true,
                "enabled": true,
                "realm": "{{ realm|upper }}",
                "primary": "kafka",
                "enabled_for_zookeeper": true,
                "keytab_secret": "{{ service_group }}/{{ kafka_cluster_identifier }}-kafka/__dcos_base64__brokers_keytab",
                "kdc": {
                    "hostname": "{{ ad_hostname }}",
                    "kdc": "88" 
                }
            },
            "transport_encryption": {
                "enabled": true
            },
            "ssl_authentication": {
                "enabled": true
            }
        }
    },
    "kafka": {
        "kafka_zookeeper_uri": "{{ zk_endpoints.stdout }}",
        "auto_create_topics_enable": true,
        "delete_topic_enable": true,
        "confluent_support_metrics_enable": true
    }
}