
  
net user {{ kafka_cluster_identifier }}-kafka-zk0 {{ ad_user_password }} /add /expires:NEVER /domain /yes

net user {{ kafka_cluster_identifier }}-kafka-zk1 {{ ad_user_password }} /add /expires:NEVER /domain /yes

net user {{ kafka_cluster_identifier }}-kafka-zk2 {{ ad_user_password }} /add /expires:NEVER /domain /yes

net user {{ kafka_cluster_identifier }}-kafka-br0 {{ ad_user_password }} /add /expires:NEVER /domain /yes

net user {{ kafka_cluster_identifier }}-kafka-br1 {{ ad_user_password }} /add /expires:NEVER /domain /yes

net user {{ kafka_cluster_identifier }}-kafka-br2 {{ ad_user_password }} /add /expires:NEVER /domain /yes

net user {{ kafka_cluster_identifier }}-kafka-cl {{ ad_user_password }} /add /expires:NEVER /domain /yes
  
ktpass.exe /princ {{ kafka_cluster_identifier }}-kafka/kafka-0-broker.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ beta_or_ga }}-kafka.autoip.dcos.thisdcos.directory@{{ realm|upper }} /mapuser {{ kafka_cluster_identifier }}-kafka-br0@{{ realm }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out brokers-0.keytab

ktpass.exe /in brokers-0.keytab /princ {{ kafka_cluster_identifier }}-kafka/kafka-1-broker.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ beta_or_ga }}-kafka.autoip.dcos.thisdcos.directory@{{ realm|upper }} /mapuser {{ kafka_cluster_identifier }}-kafka-br1@{{ realm }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out brokers-1.keytab

ktpass.exe /in brokers-1.keytab /princ {{ kafka_cluster_identifier }}-kafka/kafka-2-broker.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ beta_or_ga }}-kafka.autoip.dcos.thisdcos.directory@{{ realm|upper }} /mapuser {{ kafka_cluster_identifier }}-kafka-br2@{{ realm }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out {{ kafka_cluster_identifier }}-brokers.keytab

ktpass.exe /princ client@{{ realm }} /mapuser {{ kafka_cluster_identifier }}-kafka-cl@{{ realm|upper }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out {{ kafka_cluster_identifier }}-clients.keytab

ktpass.exe /princ {{ kafka_cluster_identifier }}-kafka/zookeeper-0-server.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ beta_or_ga }}-kafka-zookeeper.autoip.dcos.thisdcos.directory@{{ realm|upper }} /mapuser {{ kafka_cluster_identifier }}-kafka-zk0@{{ realm }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out zk-0.keytab

ktpass.exe /in zk-0.keytab /princ {{ kafka_cluster_identifier }}-kafka/zookeeper-1-server.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ beta_or_ga }}-kafka-zookeeper.autoip.dcos.thisdcos.directory@{{ realm|upper }} /mapuser {{ kafka_cluster_identifier }}-kafka-zk1@{{ realm }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out zk-1.keytab

ktpass.exe /in zk-1.keytab /princ {{ kafka_cluster_identifier }}-kafka/zookeeper-2-server.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ beta_or_ga }}-kafka-zookeeper.autoip.dcos.thisdcos.directory@{{ realm|upper }} /mapuser {{ kafka_cluster_identifier }}-kafka-zk2@{{ realm }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out {{ kafka_cluster_identifier }}-zookeeper.keytab

ktpass.exe /princ {{ kafka_cluster_identifier }}-kafka/schema.mesosphere.com@{{ realm|upper }} /mapuser {{ kafka_cluster_identifier }}-kafka-cl@{{ realm }} /ptype KRB5_NT_PRINCIPAL /pass {{ ad_user_password }} /out {{ kafka_cluster_identifier }}-schema.keytab
