KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="client/client.mesosphere.com@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafkatest/999999-clients.keytab";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="client/client.mesosphere.com@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafkatest/999999-clients.keytab";
};