KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="client/client.{{ kafka_cluster_identifier }}-kafka.{{ instance_domain }}@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafkatest/{{ kafka_cluster_identifier }}/{{ kafka_cluster_identifier }}-clients.keytab";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="client/client.{{ kafka_cluster_identifier }}-kafka.{{ instance_domain }}@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafkatest/{{ kafka_cluster_identifier }}/{{ kafka_cluster_identifier }}-clients.keytab";
};