KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="connect/connect-1-server.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-client.{{ instance_domain }}@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafka-client.keytab";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="connect/connect-1-server.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-client.{{ instance_domain }}@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafka-client.keytab";
};