KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="control/control-1-server.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ item }}.mesosphere.com@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafka-client.keytab";
};

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt=true
    useTicketCache=false
    principal="control/control-1-server.{{ service_group }}{{ kafka_cluster_identifier }}-kafka{{ kafka_cluster_identifier }}-{{ item }}.mesosphere.com@{{ realm|upper }}"
    useKeyTab=true
    serviceName="kafka"
    keyTab="/tmp/kafka-client.keytab";
};